@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Space+Grotesk:wght@300;400;500&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

html,
body {
    background-color: #f0f0f0 !important;
    height: 100%;
    margin: 0;
}

#upper-section {
    height: 100%;
}


.main {
    padding: 100px 0px 0px 0px;
    text-align: center;
}

.main-title {
    color: #db1628;
    font-family: 'Hind Siliguri';
    font-weight: 700;
    font-size: 3em;

}

.main-subtile {
    font-family: 'Hind Siliguri';
    font-weight: 400;
    font-size: 1em;
    color: #343434;
}

.donate-btn {
    border: none;
    padding: 5px 6px 5px 5px;
    border-radius: 5px;
    background-color: #db1628;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}

.donate-btn:hover {
    background-color: #8f0d15;
}


/* 
Sign up block
*/
#signup {
    height: 100%;
}

.custom-nav {
    text-align: right;
}

.login-form {
    width: 295px;
}


input.form-control {
    background-color: #f0f0f0;
    width: 295px;
    border-radius: 14px;
    font-family: 'Hind Siliguri';
    color: #4A4A4A;
    border: 1px solid #4a4a4a;
    height: 45px;
    font-size: 14px;
    font-weight: 200;
}

select.form-control {
    background-color: #f0f0f0;
    width: 295px;
    border-radius: 14px;
    font-family: 'Hind Siliguri';
    color: #4A4A4A;
    border: 1px solid #4a4a4a;
    height: 45px;
    font-size: 14px;
    font-weight: 200;
}

.login-btn {
    width: 295px;
    height: 45px;
    color: #fff;
    font-size: 16px;
    font-family: 'Hind Siliguri';
    font-weight: 300;
    word-wrap: break-word;
    border-radius: 14px;
    background-color: #db1628;
    box-shadow: 10px 15px 70px rgba(0, 0, 0, 0.1);
    border: none;
}

.login-btn:hover {
    background-color: #8f0d15;
}

.custom-title {
    color: #db1628;
    font-size: 22px;
    font-family: 'Hind Siliguri';
    font-weight: 400;
    word-wrap: break-word;
}

/* 
sign up btn
*/
.signup-btn {
    padding: 6px;
    background: #db1628;
    border: none;
    color: #fff;
    list-style: none;
    border-radius: 10px;
    font-size: 12px;
    width: 90px;
    font-family: 'Hind Siliguri';
}

.signup-btn:hover {
    font-size: 12px;
    color: #fff;
    font-family: 'Hind Siliguri';
    font-weight: 400;
    background-color: #8f0d15;
}

/* 
Success page
*/

#success {
    height: 100%;
}

.success-title {
    font-family: 'Hind Siliguri';
    font-weight: 500;
    font-size: 2em;
    color: #343434;
    text-align: center;
    margin-top: -50px;
}

.success-subtitle {
    font-family: 'Hind Siliguri';
    font-weight: 400;
    color: #343434;
    text-align: center;
}

.custom-bold {
    color: #db1628;
    font-weight: 700;
}

.custom-href {
    color: #343434;
    font-family: 'Hind Siliguri';
    font-size: 14px;
    text-decoration: underline;
}

/* 
Donors section
*/

.bg-red {
    background-color: #db1628;
}

#donors-section {
    height: 100%;
}

.filter {
    color: #343434;
    font-size: 18px;
    font-family: 'Hind Siliguri';
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

/* 
Donors list
*/

.horizontal-card {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: transparent;
    padding: 10px 10px 0px 15px;
    border-bottom: 1px solid #4A4A4A;
    border-radius: 4px;
    box-shadow: 10px 15px 70px rgba(0, 0, 0, 0.1);
}

.horizontal-donor {
    color: #343434;
    font-size: 18px;
    font-family: 'Hind Siliguri';
    font-weight: 300;
    word-wrap: break-word
}

.horizontal-subtitle {
    color: #343434;
    font-size: 14px;
    font-family: 'Hind Siliguri';
    font-weight: 300;
    word-wrap: break-word;
}

.horizontal-call >a{
    color: #23a86a;
    font-size: 18px;
    font-family: 'Hind Siliguri';
    font-weight: 700;
    word-wrap: break-word;
    position: relative;
    top: 10px;
}

.donor-title{
    padding: 0px 0px 0px 5px;
    font-weight: 500;
    font-family: 'Hind Siliguri';
}